@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: sans-serif;
  background-color: white;
  color: #191A23;
}


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
